{% liquid
  assign product_image = product.featured_media.preview_image
  assign product_alt = product_image.alt | default: product.title
%}

<article class="product-card">
  <a href="{{ product.url }}" aria-label="{{ product.title | escape }}">
    <div class="product-card__media">
      {% if product_image %}
        {{ product_image | image_url: width: 900 | image_tag: loading: 'lazy', widths: '320, 480, 640, 900', alt: product_alt }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    {% unless product.available %}
      <span class="badge sold-out">{{ 'products.product.sold_out' | t }}</span>
    {% endunless %}
    <div class="product-card__info">
      <h3 class="product-card__title">{{ product.title }}</h3>
      <div class="price">
        {{ product.price | money }}
        {% if product.compare_at_price > product.price %}
          <s>{{ product.compare_at_price | money }}</s>
        {% endif %}
      </div>
    </div>
  </a>
</article>
